.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Đặt chiều cao tối thiểu bằng 100% chiều cao của màn hình */
}

.login-form .form-container {
    border: 1px solid #ccc;
    /* Tạo đường viền cho form */
    padding: 30px;
    /* Tạo khoảng cách bên trong form */
    background-color: #fff;
    /* Màu nền của form */
    border-radius: 10px;
    /* Làm mềm góc của form */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Tạo đổ bóng cho form */
    width: 100%;
    max-width: 400px;
    /* Đặt chiều rộng tối đa cho form */
}